_obj
_test
.idea
.DS_Store
**/.DS_Store

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.iml
*.log

/log
!vendor/vendor.json
vendor
msdemo
static/uploads/*
static/downloads/*